{% extends 'base.html.twig' %}

{% block title %}Videos{% endblock %}

{% block body %}
    {% for video in videos %}
        <a href="#" class="video-link" data-video-id="{{ video.videoId }}">
        <img src="{{ video.thumbnail }}" alt="{{ video.title }}"/>
        <h6 class="text-xm font-bold text-white m-5">{{ video.title }}</h6>
    {% endfor %}
{% endblock %}
